@import url(reset.css);
@import url(./fonts/fonts.css);
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
  --dark-gray: #070707;
  --mid-gray: #1F1F1F;
  --gray: #353535;
  --light-gray: #868686;
  --absolute-white: #FFFFFF;
  --violet: #3D2476;
  --red: #D0471D;
}

body {
  background-color: var(--dark-gray);
  padding: 32px;

  -ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

.main {
  background-color: var(--mid-gray);
  width: -webkit-fill-available;
  height: -webkit-fill-available;
  border-radius: 32px;
  overflow: scroll;
  padding: 48px;

  justify-content: space-between;
  display: flex;
  flex-direction: column;


  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}
.main::-webkit-scrollbar {
  display: none;
}

.h1, .h1des, .button, .text, .time, .test, .question_container, .input, .phoneDescription, .alert-header, .alert-button, .alert-text {
  font-family: 'Inter', sans-serif;
  color: var(--absolute-white);
  line-height: auto;
}

.information {
  justify-content: space-between;
  display: flex;
}

.testInfo {
  position: fixed;
}

.h1 {
  font-weight: 600;
  font-size: 88px;
}

.h1des {
  color: var(--light-gray);
  font-weight: 400;
  font-size: 16px;
}

.frame {
  justify-content: space-between;
  display: flex;
  align-items: flex-end;
}

.button {
  background-color: var(--violet);
  border: none;
  font-size: 32px;
  font-weight: 500;
  padding: 64px 88px;
  border-radius: 96px;

  transition: 0.5s;
}

.button:hover {
  padding: 72px 96px;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.75);
}

.finishTest {
  position: absolute;
  bottom: 80px;
  right: 80px;
}

.text {
  width: 710px;
  font-size: 24px;
}

.text p:nth-child(2) {
  margin-top: 16px;
  color: var(--red);
}

.time {
  font-weight: 500;
  color: var(--light-gray);
  font-size: 64px;

  position: fixed;
  right: 80px;
}

.test {
  padding: 0;
  justify-content: center;
  display: inline-block;
}

.user-info_container p:nth-child(1) {
  margin-bottom: 16px;
}

.question_container {
  margin: auto;

  width: 40vw;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 32px;
  padding: 32px;
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 20px;
}

.answer-container {
  margin-top: 12px;
}
.answer {
  display: inline;
  width: 18px;
  height: 18px;
  background-color: var(--light-gray);
}
.variants {
  margin-left: 8px;
  display: inline;
}

.user-name{
  background: none;
  padding: 12px 24px;
  border-radius: 32px;
  border: 2px solid var(--absolute-white);
  font-weight: 400;
  font-size: 20px;
  width: 100%;
}

.input:focus {
  background: rgba(255, 255, 255, 0.15);
  border-color: rgba(255, 255, 255, 0.15);
  outline-width: 0px;
}

/* Стили алерта */
.alertBg {
  width: 100%;
  height: 100%;
  background-color: var(--dark-gray);
  opacity: 80%;
  position: absolute;
  top: 0;
  left: 0;
}
.customAlertContainer {
  padding: 32px;
  width: min-content;
  height: min-content;
  position: absolute;
  top: -50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: var(--mid-gray);
  border-radius: 32px;
}
.alert-header {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 8px;
  width: 100%;
  text-align: center;
}
.alert-text {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 24px;
  width: 100%;
  text-align: center;
  color: var(--light-gray);
}
.alert-button {
  background-color: var(--violet);
  border: none;
  font-size: 24px;
  font-weight: 500;
  padding: 24px 224px;
  border-radius: 96px;
  width: 100%;

  transition: 0.5s;
}
.alert-button:hover {
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 1680px) {
  .main {
    padding: 32px;
  }
  .h1 {
    font-size: 80px;
  }
  .h1des {
    font-size: 12px;
  }
  .finishTest {
    bottom: 64px;
    right: 64px;
  }
  .text {
    font-size: 24px;
  }
}

@media screen and (max-width: 1680px) {
  .main {
    padding: 32px;
  }
  .h1 {
    font-size: 64px;
  }
  .h1des {
    font-size: 12px;
  }
  .button {
    font-size: 24px;
  }
  .text {
    font-size: 22px;
  }
}

@media screen and (max-width: 1366px) {
  .main {
    padding: 32px;
  }
  .h1 {
    font-size: 56px;
  }
  .h1des {
    font-size: 12px;
  }
  .button {
    font-size: 24px;
  }
  .text {
    font-size: 22px;
  }
  .question_container {
    font-size: 20px;
  }
}

@media screen and (max-width: 1280px) {
  .main {
    padding: 32px;
  }
  .h1 {
    font-size: 56px;
  }
  .h1des {
    font-size: 12px;
  }
  .button {
    font-size: 20px;
  }
  .text {
    font-size: 18px;
  }
  .question_container {
    font-size: 16px;
  }
}

@media screen and (max-width: 800px) {
  body {
    padding: 24px;
  }
  .main {
    padding: 32px;
    border-radius: 16px;
    justify-content: flex-end;
    position: relative;
  }
  .sad-face {
    position: absolute;
    width: 60vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .phoneDescription {
    text-align: center;
    color: var(--light-gray);
    font-size: 20px;
  }
}
